*.html
42921-Earphones TWS/es/010-introduccion.md
42921-Earphones TWS/es/020-mantenimiento.md
42921-Earphones TWS/es/030-caracteristicas.md
42921-Earphones TWS/es/040-contenido.md
42921-Earphones TWS/es/050-presentacion_general.md
42921-Earphones TWS/es/060-funciones_principales.md
42921-Earphones TWS/es/070-sincronizacion_bluetooth.md
42921-Earphones TWS/es/080-Control_de_reproduccion.md
42921-Earphones TWS/es/090-control_de_llamadas.md
42921-Earphones TWS/es/100-garantia.md
42921-Earphones TWS/es/110-funcionamiento_garantia.md
42921-Earphones TWS/es/120-declaracion_conformidad.md
